<activity
    android:name=".RegistrationActivity"
    android:exported="false" />
<activity
    android:name=".LoginActivity"
    android:exported="false" />
<activity
    android:name=".ChangePasswordActivity"
    android:exported="false" />
<activity
    android:name=".WelcomeActivity"
    android:exported="false" /> 